
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    Anasayfa

    @section Content {
        <p>Sadece Anasayfada görünen ekstra html</p>
    }


    @section scripts{
        <script>
            $(document).ready(function () {
                alert('Home Page')
            });
        </script>

    }

</body>
</html>
