
<!DOCTYPE html>
<html>
<head>
    <title></title>
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>*@
    <link href="~/site/all.min.css" rel="stylesheet" />
  

    @* uygulama içerisindeki js ve css kodlarımızı bundlelayıp yukarıdaki gibi çağırabiliriz. bs5 versiyon js file hatalı. *@

    

    @* birden fazla css yada js dosyasnın sıkıştırılıp tek bir url altından çalıştırılmasına bundle (paketleme) işlemi diyoruz. *@
    @* merkezi olarak css ve js yönetimi için ve sayfaya min uzantılarını oluşturup terk bir js yada tek bir css dosyası olarak çekip performans sağlarız. *@

    @* 1.yöntem cdn üzerinden yükleme yönetimiydi *@
    @* 2.yöntem ise klasör üzerinden yükleme *@

    @* bu styleslar her sayfada zorunlu değil false yerine true yazarsak bu durumda her sayfa bu section çağırmamız gerekir. *@
    @* Layoutdaki sıra ile sayfama stil yüklemek istiyorum. *@
    @RenderSection("styles", false)
</head>
<body>




    @* tüm sayfalarda ortak olan navigation bar *@
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>


    @RenderSection("content", false)


    <div class="container">
        @RenderBody()
        @* render body kısmında diğer sayfalar htmllerini buraya basacaktır. *@
    </div>


    <script src="~/site/all.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @RenderSection("scripts", false)
</body>
</html>
